html
    head
        title="Статус заказа"
    body
        if status === "done"
            p= "Статус заказа: готов"
            if description
                p= "Описание: " + description
            if firstDate
                p= "Ориентировочная дата завершения: " + firstDate
            if secondDate
                p= "Задержка"
                p= "Дата завершения: " + secondDate
        else
            if status === "progress"
                p= "Статус заказа: в работе"
            if status === "progress"
                p= "Статус заказа: в очереди"

            if description
                p= "Описание: " + description
            if firstDate
                p= "Исходная дата завершения: " + firstDate
            p= "Задержка"
            if secondDate
                p= "Ориентировочная дата завершения: " + secondDate
            else
                p= "Ориентировочная дата завершения не назначена"


