html
    head
        title="Статус заказа"
    body
        table
            tr
                th= "Id"
                th= "Id"
                th= "Id"
        if status === "done"
            p= "Статус заказа: готов"
            if description
                p= "Описание: "
                each line in description
                    p= line
            if date
                p= "Дата завершения: " + date
        else
            if status === "progress"
                p= "Статус заказа: в работе"
            if status === "queue"
                p= "Статус заказа: в очереди"
            if description
                p= "Описание: "
                each line in description
                    p= line
            if date
                p= "Ориентировочная дата завершения: " + date